[mysqld]
init_connect = 'SET collation_connection = utf8_unicode_ci'
character_set_server = utf8
collation_server = utf8_unicode_ci
max_allowed_packet = 16M
log_output = table
general_log = 1
slow_query_log = 2
log_queries_not_using_indexes = on
log_slow_admin_statements = on
min_examined_row_limit = 1
expire_logs_days = 10

#[client]
#user = root
#password = mypass
#database = mysql
